
#profile-redesign {
	width: 430px; padding: 35px; }

#profile-redesign .profile-preview { position: relative; width: 215px; height: 228px; float: left; }
#profile-redesign .profile-preview p { padding: 0; line-height: 1.35; }
#profile-redesign .profile-preview .title { padding-top: 25px; }

#profile-redesign .text { padding: 15px 0 15px 15px; min-height: 80px; }
#profile-redesign .contributors-preview {
	height: 38px;
	position: absolute; bottom: 0; left: 0; right: 0;
}

#profile-redesign .contributors-preview .round {
	background-color: rgba(125,125,125,.2); border: solid 1px rgba(125,125,125,.2);
	display: block; width: 20px;
	position: absolute; top: 8px; bottom: 8px; }
#profile-redesign .contributors-preview .round1 { left: 15px; }
#profile-redesign .contributors-preview .round2 { left: 41px; }
#profile-redesign .contributors-preview .round3 { left: 67px; }
#profile-redesign .contributors-preview .round4 { left: 93px; }

/* Change Brand */
#profile-redesign input[type=radio] { padding: 0; margin: 0; vertical-align: bottom; }
#profile-redesign .button-back { margin: 15px auto 0; }
#profile-redesign .button-back .submit-button { text-indent: 3px; }

#profile-redesign .text-color { width: 92px; padding: 5px 0; }
#profile-redesign .text-color.on:before { content: '\002713\00a0'; }
#profile-redesign .text-color.white { text-align: right; padding-right: 10px; }
#profile-redesign .text-color.charcoal { text-align: left; padding-left: 10px; }

.eucc-np input.eucc-input {
	width: 70px; height: 24px; padding: 4px 5px;
	font-size: 15px; line-height: 15px;
	border: solid 1px #777; }

.eucc-preview { width: 24px; height: 24px; float: left; margin: 0 2px 0 0; }

.eucc { width: 19px; height: 19px; margin: 0 1px 1px 0; padding: 0; float: left; }

.eucc-np .pmn-prev, .eucc-np .pmn-next {
	position: absolute; top: 0;
	background: #fff; border: solid 1px #777;
	width: 22px; height: 22px; padding: 0; }
.eucc-np .pmn-prev { left: 98px; }
.eucc-np .pmn-next { left: 124px; }
.eucc-np .invis-35 { cursor: default; border-color: rgba(0,0,0,0); }

.eucc-np .pmn-prev:before, .eucc-np .pmn-next:before,
.eucc-np .pmn-prev:after, .eucc-np .pmn-next:after { height: 2px; background: #333; }

.eucc-np .pmn-prev:before, .eucc-np .pmn-next:after { top: 8px; }
.eucc-np .pmn-prev:after, .eucc-np .pmn-next:before { top: 13px; }

.eucc-np .pmn-prev:not(.invis-35):hover:before, .eucc-np .pmn-next:not(.invis-35):hover:before,
.eucc-np .pmn-prev:not(.invis-35):hover:after, .eucc-np .pmn-next:not(.invis-35):hover:after { background: #2e9b3d; border-color: $green; }
