
.mini-popup .section-title { padding: 45px 35px 25px; }

.mini-popup .text-full .line { padding: 0 0 11px; }

.mini-popup .published-blob {
	border-radius: 18px;
	overflow: hidden; padding: 5px 8px 5px 10px; margin: -5px -10px -5px 0; }

.mini-popup .published-blob input, .published-blob .dummy {
	width: auto; margin: 0;
	display: inline-block; }
